{% extends 'boards/base.html' %}
{% load static %}

{% block title %}All Boards{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/board_list.css' %}">
{% endblock %}

{% block content %}
  <h2>All Boards</h2>

  <div class="board-container">
    {% for board in boards %}
      <div class="board-card">
        {% if board.cover_image %}
          <img src="{{ board.cover_image.url }}" alt="{{ board.title }}" class="board-image">
        {% endif %}
        <div class="board-info">
          <h3 class="board-title">{{ board.title }}</h3>
          <p class="board-desc">{{ board.description }}</p>
        </div>
      </div>
    {% empty %}
      <p>No boards created yet.</p>
    {% endfor %}
  </div>
{% endblock %}
