{% extends "base.html" %}
{% load static %}

{% block title %}Create Pin | Pinterest Clone{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create_pin.css' %}?v=10">
{% endblock %}
{% block content %}
<div class="card">
  <h2>Create Pin</h2>

  {% if messages %}
  {% for message in messages %}
  <p>
    {{ message }}
  </p>
  {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Pin</button>
  </form>


  <p style="margin-top:15px;">
    <a href="{% url 'home' %}">Back to Home</a>
  </p>
</div>
{% endblock %}